extends layout

block content
	h1= title
	p Viewing group members. 
		a(href='#add') Add members
		| . 
		a(href=process.env.base_url + '/groups') All groups
	p Group slug: <strong>#{group.slug}</strong>
	table.members
		each member in members
			tr.member
				td.netID=member.netID
				td.delete
					a(href=group.url.remove + '?netid=' + member.netID) Remove
	form#add(method='POST',action=group.url.add)
		h2 Add Users
		p Enter one netID per line
		textarea#netids(name='netids')
		input(type='submit')