extends layout

block scripts
	script(src='/javascripts/admin.js')

block content
	h1= title
		
	form.form-horizontal#lookup(method='GET',action=process.env.base_url + '/person/edit')
		p Find and edit a user.
		input.name#who(type='text',name='who',autocomplete='off',placeholder='Name/NetID')
	
	a.btn(href=process.env.base_url + '/person/create') New User
	
	hr
	
	p Here are all groups. 
		a(href='#new') New group
	table
		thead
			th Group
			th Slug
		each group in groups
			tr
				td.group
					a(href=group.url.view)
						strong=group.name
				td.slug=group.slug
	form#new(method='POST',action=process.env.base_url + '/groups/new')
		h2 New Group
		
		label(for='name') Name
		input#name(type='text',name='name')
		
		label(for='slug') Slug
		input#slug(type='text',name='slug')
				
		input(type='submit')