extends layout

block content
	h1= title
	p Viewing group members. 
		a(href='#add') Add members
		| . 
		a(href=process.env.base_url + '/groups') All groups
	p Group slug: <strong>#{group.slug}</strong>
	
	table.members
		each member in members
			tr.member
				td.identifier.netID=member.netID
				
				if( !group.isAdmin( member ) )
					td.promote.changeRole
						a(href=group.url.promote + '?who=' + member.netID) Promote
				else
					td.demote.changeRole
						a(href=group.url.demote + '?who=' + member.netID) Demote
						
				td.delete
					a(href=group.url.remove + '?netid=' + member.netID) Remove
	
	if( subgroups.length > 0 )	
		h2 Subgroups
		table.subgroups
			each subgroup in subgroups
				tr.subgroup
					td.identifier.group
						a(href=subgroup.url.view)=subgroup.name

					td.delete
						a(href=group.url.remove + '?who=' + subgroup.slug) Remove
				
	
	form#add(method='POST',action=group.url.add)
		h2 Add Users
		p Enter one netID per line
		textarea#netids(name='netids')
		input(type='submit')